.subpage_picture {
  margin-bottom: 100px;
}

.sub_main_picture {
  width: 100%;
  height: 430px;
}

.description {
  margin: 0 auto;
  width: 900px;
}

.small_menu_bar {
  width: 900px;
  height: 53px;
  padding: 10px 0 10px 25px;
  background-color: #000;
  margin-bottom: 30px;
}

.details {
  margin-bottom: 70px;
  width: 900px;
}

.link_for_each {
  color: #1A0DAB;
  text-decoration: none;
}
