.footer {
  max-width: 100%;
  height: 350px;
  background-image: url("../images/zemi_sample3.jpg");
  padding: 40px 40px 120px 40px;;
}

.footer > h2 {
  text-align: center;
  margin-bottom: 30px;
}

.footer_main {
  text-align: center;
  margin-bottom: 40px;
}

.ask_for_contact {
  text-align: center;
}
