.top_picture_for_home {
  padding-top: 75px;
}

.home_picture {
  width: 60%;
  height: 550px;
  margin-bottom: 50px;
}

.welcome_message {
  font-size: 16px;
  text-align: right;
  margin-bottom: 70px;
}

.welcome_to_zemi {
  display:inline-block;
  width: 800px;
}

.welcome_to_zemi_message {
  text-align: left;
  margin-right: 15%;
}

.outer_introduce_prof_home {
  height: 515px;
  position: relative;
  margin-bottom:150px;
}

.introduce_prof_home {
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  max-width: calc(50% + 600px);
  height: 355px;
  text-align: center;
}

.introduce_prof_home > p {
    margin-left: calc(50vw - 600px);
    font-size: 20px;
}

.brief_intro_of_prof {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 50px 100px 40px 100px;
  width:785px;
  height: 392px;
  box-shadow: 20px 20px 100px rgba(5,5,5,.1);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picture_and_name {
  color: #000;
}

.picture_and_name > p {
  font-size: 20px;
  font-weight: bold;
}

.ishibashisan {
  width: 187px;
  height: 229px;
  margin-bottom: 20px;
}

.view_button {
  width: 194px;
  height: 63px;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  transition: .4s;
}

.view_button:hover {
  color: #000;
  background-color: #1DBDCB;
  cursor: pointer;
}

.activity_content {
  margin-bottom: 250px;
}

.activity_picture {
  max-width: 69%;
  height: 380px;
  margin-left: 39%;
  position: absolute;
}

.activity_box {
  position: relative;
  left: 24%;
  top: 60px;
  width: 617px;
  box-shadow: 20px 20px 40px rgba(5,5,5,.1);
  display:flex;
}

.black_box_activity {
  width: 250px;
  height: 261px;
  color: #fff;
  background-color: #000;
  text-align: center;
  padding-top: 115px;
}


.two_activity {
  width: 367px;
  padding: 80px 70px;
  justify-content: space-between;
  background-color: #fff;
}

.main_honzemi {
  padding-bottom: 30px;
}

.main_sabzemi {
  padding-top: 30px;
}

.nyuzemi_information > h2 {
  margin-bottom: 70px;
  text-align: center;
}

.box_include_three_photos {
  width: 84%;
  display: flex;
  margin: 0 auto;
}

.home_three_photo {
  width: 47%;
  height: 160px;
}

.home_three_link {
  margin-top: 20px;
  font-weight: normal;
}

.each_section_for_three {
  text-align: center;
}

.button_for_three_section {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

.add_for_essay {
  height: 580px;
}

.essay_content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 50px 100px 40px 100px;
  width:766px;
  height: 460px;
  box-shadow: 20px 20px 100px rgba(5,5,5,.1);
  background-color: white;
}

.two_essays {
  display:flex;
  justify-content: space-around;
}

.essay_photo {
  width: 177px;
  height: 215px;
}

.responsive_home_picture {
  display:none;
}

.responsive_welcome_to_zemi_message {
  display:none;
}


@media screen and (max-width: 768px) {

  .home_picture {
    display: none;
  }

  .responsive_home_picture {
    display: block;
    max-width: 100%;
    height:250px;
  }

  .welcome_message {
    display: none;
  }

  .welcome_to_zemi {
    display: none;
  }

  .welcome_to_zemi_message {
    display:none;
  }

  .resopnsive_welcome_message {
    display: block;
    max-width: 100%;
    padding: 0 20px;
    margin: 25px 0 50px 0;
  }

  .responsive_welcome_to_zemi_message {
    display:block;
  }

  .resopnsive_welcome_to_zemi_message {
    display: block;
  }

  .outer_introduce_prof_home {
    margin-bottom: 100px;
  }

  .introduce_prof_home {
    padding-top: 30px;
  }

  .introduce_prof_home > p {
    font-size: 16px;
    font-weight:bold;
    color: #fff;
    margin: 0 auto;
  }

  .brief_intro_of_prof {
    width: 88%;
    height: 297px;
    padding: 25px 83px 25px 83px;
    flex-direction:column;
    top: 70px;
  }

  .ishibashisan {
    width: 115px;
    height: 145px;
  }

  .picture_and_name > p {
    font-size: 12px;
  }

  .view_button {
    width: 115px;
    height: 30px;
    font-size: 12px;
  }

  .activity_content {
    margin-bottom: 200px;
  }

  .activity_picture {
    max-width: 100%;
    height: 180px;
    margin: 0;
  }

  .activity_box {
    flex-direction:column;
    width: 88%;
    height: 230px;
    left: 0;
    margin: 0 auto;
  }

  .black_box_activity {
    width: 100%;
    height: 90px;
    padding: 35px 90px 35px 90px;
  }

  .black_box_activity > h2 {
    font-size: 16px;
  }

  .two_activity {
    height: 140px;
    width: 100%;
    display: flex;
    padding: 60px 50px;
  }

  .main_honzemi, .main_sabzemi {
    padding: 0;
  }

  .nyuzemi_information > h2 {
    font-size: 16px;
  }

  .box_include_three_photos {
    flex-direction:column;
  }

  .home_three_photo {
    width: 88%;
    height: 180px;
  }

  .essay_content {
    width: 88%;
    height: 480px;
    padding: 30px 83px 30px 83px;
  }

  .two_essays {
    flex-direction:column;
  }

  .essay_photo {
    width: 115px;
    height: 145px;
  }

  .home_three_link {
    font-size: 12px;
    margin: 10px 0 10px 0;
  }

  .button_for_three_section {
    margin-top: 20px;
  }

}
